name: Sync Templates & Config to S3

on:
  push:
    branches:
      - main
    paths:
      - 'templates/**'
      - 'config/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Sync Config & Templates to S3
        run: |
          # Sync Templates
          aws s3 sync ./templates s3://${{ secrets.AWS_S3_BUCKET }}/templates --delete
          
          # Sync Config (Only works if config folder exists in repo)
          aws s3 sync ./config s3://${{ secrets.AWS_S3_BUCKET }}/config --delete